
html, body { 
    background: #1C323A;
    margin: 0; 
    padding: 0;
    min-width:95%;
} 
{


}

#wrapper{
    width: 800px;
    max-width: 960px;
    margin: 50px 50px;
    min-width: inherit;
    
}

.container{
    margin-bottom: 50px;
    display: flex;
    position: relative;
    width: 1250px;
    
}
    
img{
    position: relative;
    width: 650px;
    height: 500px;
      
}


.box{
    display: flex;
    position: relative;
    background-color: #B18B11;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    
    }

.h2-1{
    position: absolute;
    left: 10px;
    bottom: 22.37%;
    font-size: 38px;
    color: #FFFFFF;
    bottom: -25px;
    z-index: 1;
}

.p-des{
    position: absolute;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    right: 30px;
    color: #FFFFFF;
    line-height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    top: 30px;
    width: 400px;
}

.p-book{
position: absolute;
display: flex;
flex-direction: row;
border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
width: 120px;
height: 70px;
top: 330px;
right: 410px;
opacity: 0.5;
text-align: center;
align-items: center;
padding: 10px;
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 37px;
}

.p-book:hover, .p-book:active{
    background-color: white;
    opacity: 0.6;
    color: black;
    
}

.p-money{
position: absolute;
display: flex;
width: 132px;
height: 32px;
left: 250px;
top: 335px;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 30px;

color: #FFFFFF;
}


.container2{
    margin-bottom: 50px;
    display: flex;
    position: relative;
    width: 1250px;
    
}
    
img2{
    position: relative;
    width: 650px;
    height: 500px;
      
}


.box2{
    display: flex;
    position: relative;
    background-color: #B18B11;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    
    }

.h2-2{
    position: absolute;
    left: 10px;
    bottom: 22.37%;
    font-size: 38px;
    color: #FFFFFF;
    bottom: -25px;
    z-index: 1;
}

.p-des2{
    position: absolute;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    right: 30px;
    color: #FFFFFF;
    line-height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    top: 30px;
    width: 400px;
}

.p-book2{
position: absolute;
display: flex;
flex-direction: row;
border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
width: 120px;
height: 70px;
top: 330px;
right: 410px;
opacity: 0.5;
text-align: center;
align-items: center;
padding: 10px;
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 37px;
}

.p-book2:hover, .p-book2:active{
    background-color: white;
    opacity: 0.6;
    color: black;
    
}


.p-money2{
position: absolute;
display: flex;
width: 132px;
height: 32px;
left: 250px;
top: 335px;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 30px;

color: #FFFFFF;
}

.container3{
    margin-bottom: 50px;
    display: flex;
    position: relative;
    width: 1250px;
    }
    
img3{
    position: relative;
    width: 650px;
    height: 500px;
     
}


.box3{
    display: flex;
    position: relative;
    background-color: #B18B11;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    
    }

.h2-3{
    position: absolute;
    left: 10px;
    bottom: 22.37%;
    font-size: 38px;
    color: #FFFFFF;
    bottom: -25px;
    z-index: 1;
}

.p-des3{
    position: absolute;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    right: 30px;
    color: #FFFFFF;
    line-height: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    top: 30px;
    width: 400px;
}

.p-book3{
position: absolute;
display: flex;
flex-direction: row;
border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
width: 120px;
height: 70px;
top: 330px;
right: 410px;
opacity: 0.5;
text-align: center;
align-items: center;
padding: 10px;
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 37px;
}

.p-book3:hover, .p-book3:active{
    background-color: white;
    opacity: 0.6;
    color: black;
    
}


.p-money3{
position: absolute;
display: flex;
width: 132px;
height: 32px;
left: 250px;
top: 335px;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 30px;

color: #FFFFFF;
}


/*
@media screen and (max-width:1300px){
    
 
 body { 
    background: #1C323A;
    max-width: 960px;
} 

img{
    width: 600px;
    height: 400px;
}


.box{
    height: 400px;
    width: 100%;    }
    
.p-des {
    width: 240px;
    height: 10px;
    font-size: 13px;
    left: 1px;
    margin: 0 20px;
    top: 10px;
    }
    
.p-money{
    
    display: flex;
    left: 160px;
    top: 220px;
    font-size: 15px;

    
}

    .p-book{
        width: 100px;
        height: 50px;
        font-size: 15px;
        left: 30px;
        top: 200px;
        
    }
    
    .h2-1{
        font-size: 20px;
        left: 3px;
        top: 250px;
    }
}
*/

@media screen and (max-width:680px){
    
 
 body { 
    background: #1C323A;
    max-width: 680px;
} 

img{
    height: 300px;
    width: 260px;
}


.box{
    height: 300px;
    width: 320px;
    }
    
.p-des {
    width: 240px;
    height: 10px;
    font-size: 13px;
    left: 1px;
    margin: 0 20px;
    top: 10px;
    }
    
.p-money{
    
    display: flex;
    left: 160px;
    top: 220px;
    font-size: 15px;

    
}

    .p-book{
        width: 100px;
        height: 50px;
        font-size: 15px;
        left: 30px;
        top: 200px;
        
    }
    
    .h2-1{
        font-size: 20px;
        left: 3px;
        top: 250px;
    }
.box2{
    height: 300px;
    width: 320px;
    }
    
.p-des2 {
    width: 240px;
    height: 10px;
    font-size: 13px;
    left: 1px;
    margin: 0 20px;
    top: 10px;
    }
    
.p-money2{
    
    display: flex;
    left: 160px;
    top: 220px;
    font-size: 15px;

    
}

    .p-book2{
        width: 100px;
        height: 50px;
        font-size: 15px;
        left: 30px;
        top: 200px;
        
    }
    
    .h2-2{
        font-size: 20px;
        left: 3px;
        top: 250px;
    }
    
    .box3{
    height: 300px;
    width: 320px;
    }
    
.p-des3 {
    width: 240px;
    height: 10px;
    font-size: 13px;
    left: 1px;
    margin: 0 20px;
    top: 10px;
    }
    
.p-money3{
    
    display: flex;
    left: 160px;
    top: 220px;
    font-size: 15px;

    
}

    .p-book3{
        width: 100px;
        height: 50px;
        font-size: 15px;
        left: 30px;
        top: 200px;
        
    }
    
    .h2-3{
        font-size: 20px;
        left: 3px;
        top: 250px;
    }
}
    
@media screen and (max-width: 500px){
    
 
 body { 
    background: #1C323A;
    max-width: 400px;
} 

img{
    height: 230px;
    width: 200px;
}


.box{
    height: 230px;
    width: 220px;
    }
    
.p-des {
    width: 200px;
    height: 10px;
    font-size: 10px;
    left: -10px;
    margin: 0 0 10px 10px;
    top: 12px;
    }
    
.p-money{
    
    display: flex;
    left: 10px;
    top: 140px;
    font-size: 11px;

    
}

    .p-book{
        width: 80px;
        height: 40px;
        font-size: 12px;
        left: 10px;
        top: 170px;
        
    }
    
    .h2-1{
        font-size: 16px;
        left: 3px;
        top: 195px;
    }
    
    

img{
    height: 230px;
    width: 200px;
}


.box2{
    height: 230px;
    width: 220px;
    }
    
.p-des2 {
    width: 200px;
    height: 10px;
    font-size: 10px;
    left: -10px;
    margin: 0 0 10px 10px;
    top: 12px;
    }
    
.p-money2{
    
    display: flex;
    left: 10px;
    top: 140px;
    font-size: 11px;

    
}

    .p-book2{
        width: 80px;
        height: 40px;
        font-size: 12px;
        left: 10px;
        top: 170px;
        
    }
    
    .h2-2{
        font-size: 16px;
        left: 3px;
        top: 195px;
    }


.box3{
    height: 230px;
    width: 220px;
    }
    
.p-des3 {
    width: 200px;
    height: 10px;
    font-size: 10px;
    left: -10px;
    margin: 0 0 10px 10px;
    top: 12px;
    }
    
.p-money3{
    
    display: flex;
    left: 10px;
    top: 140px;
    font-size: 11px;

    
}

    .p-book3{
        width: 80px;
        height: 40px;
        font-size: 12px;
        left: 10px;
        top: 170px;
        
    }
    
    .h2-3{
        font-size: 16px;
        left: 3px;
        top: 195px;
    }
    
    
}

        

